<div>
    <h2>Add a New Donor</h2>
    <form [formGroup]="donorForm">
        <div class="form-group">
            <div class="form-label">First Name</div>
            <div>
                <input type="text" class="form-control" formControlName="firstName" />
                <div class="text-danger" *ngIf="donorForm.controls['firstName'].touched
                 && donorForm.controls['firstName'].errors 
                 && donorForm.controls['firstName'].errors['required']">First Name is required</div>
            </div>
        </div>

                <div class="form-group">
            <div class="form-label">Last Name</div>
            <div>
                <input type="text" class="form-control" formControlName="lastName" />
                <div class="text-danger" *ngIf="donorForm.controls['lastName'].touched
                 && donorForm.controls['lastName'].errors 
                 && donorForm.controls['lastName'].errors['required']">Last Name is required</div>
            </div>
        </div>
            <div class="form-group">
      <div class="form-label">Phone</div>
      <div>
        <input type="text" class="form-control" formControlName="phoneNumber" />
        <div class="text-danger"
          *ngIf="donorForm.controls['phoneNumber'].touched &&
                 donorForm.controls['phoneNumber'].errors?.['minlength']">
          Phone must be at least 10 digits
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-label">Email</div>
      <div>
        <input type="email" class="form-control" formControlName="email" />
        <div class="text-danger"
          *ngIf="donorForm.controls['email'].touched &&
                 donorForm.controls['email'].errors?.['required']">
          Email is required
        </div>
        <div class="text-danger"
          *ngIf="donorForm.controls['email'].touched &&
                 donorForm.controls['email'].errors?.['email']">
          Invalid email format
        </div>
      </div>
    </div>

        <div class="form-group">
      <div class="form-label">Address</div>
      <div>
        <input type="text" class="form-control" formControlName="address" />
      </div>
    </div>



        <div class="col">
            <button type="button"  (click)="addDonor()" [disabled]="donorForm.invalid">save</button>
        </div>
        <div class="col">
            <button type="button"  (click)="cancel()">cancel</button>
        </div>

    </form>
</div>