<p> Gifts </p>
<button (click)="addGift()"> Add Gift </button>
<table>
    <thead>
        <tr>
          <th> name </th>
          <th> donorName </th>
          <th> descreption </th>
          <th> price </th>
          <th> BuyersNumber </th>
          <th> category </th>
          <th> winnerTicketId </th>
        </tr>
    </thead>

    <tbody>
        @for(g of gifts$ | async; track g.id){
            <tr>
              <td> {{g.name}} </td>
              <td> {{g.donor}} </td>
              <td> {{g.description}} </td>
              <td> {{g.price}} </td>
              <td> {{g.BuyersNumber}} </td>
              <td> {{g.category}} </td>
              <td> {{g.winnerTicketId}} </td>
              <td> {{g.isDrawn}} </td>
            </tr>
            @if(this.isManager){
            <button (click)="delete(g.id)"> Delete Gift </button>
            <button (click)="updateGift(g.id)"> Update Gift </button>
            }
             @if(!this.isManager){
                <button (click)="addToCart(g.id)"> Add To Cart </button>
            }
        }
    </tbody>
</table>

<router-outlet></router-outlet>

