<p>donors works!</p>
<table>
    <thead>
        <tr>
          <th> firstName </th>
          <th> lastName </th>
          <th> phone </th>
          <th> email </th>
          <th> address </th>
        </tr>
    </thead>

    <tbody>
        @for(d of donors$ | async; track d.id){
            <tr>
              <td> g.firstName </td>
              <td> g.lastName </td>
              <td> g.phone </td>
              <td> g.email </td>
              <td> g.address </td>
            </tr>
        }
    </tbody>
</table>
