<p> Gifts </p>
<table>
    <thead>
        <tr>
          <th> name </th>
          <th> donorName </th>
          <th> descreption </th>
          <th> price </th>
          <th> BuyersNumber </th>
          <th> category </th>
          <th> winnerTicketId </th>
        </tr>
    </thead>

    <tbody>
        @for(g of gifts$ | async; track g.id){
            <tr>
              <td> {{g.name}} </td>
              <td> {{g.donor}} </td>
              <td> {{g.description}} </td>
              <td> {{g.price}} </td>
              <td> {{g.BuyersNumber}} </td>
              <td> {{g.category}} </td>
              <td> {{g.winnerTicketId}} </td>
              <td> {{g.isDrawn}} </td>
            </tr>
        }
    </tbody>
</table>